body {
  background: #eee;
  text-align: center;
}

#header {
  min-height: 100px;
}

#sidebar {
  min-height: 1000px;
  /* top: 20px;
  position: sticky; */
}

#main {
  min-height: 2000px;
}

#footer {
  min-height: 300px;
}

.bg-white {
  background-color: #ffffff;
}

.mar-10 {
  margin: 10px;
}

.box-shadow {
  box-shadow: 0 0 20px -5px rgba(0,0,0,.4);
}

.sticky {
  position: fixed;
  top: 10px;
}
